@font-face {
    font-family: ArialRoundedMTBold;
    src: url('fonts/ArialRoundedMTBold.ttf');
}

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 2306px;
}

/*Style for header*/
header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 123px;
    background-color: #e5e5e5;

}

header a {
    text-decoration: none;
    color: #4e4e4e;

}

nav {
    display: flex;
}

header ul {
    display: flex;
    width: 429px;
    justify-content: space-between;
    align-self: center;
}

header li {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;;
    font-size: 16px;
    font-weight: 700;
    line-height: 35px;
    text-transform: uppercase;
}

.header-wrapper {
    display: flex;
    width: 75%;
    justify-content: space-between;
}

.header-logo {
    align-self: center;
}

.header-logo a {
    color: #4e4e4e;
    font-family: "Roboto Condensed", sans-serif;;
    font-size: 40px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: -2px;
}

/*Style for header dropdown menu*/
.dropdown-menu li {
    position: relative;
}

.dropdown-menu a:hover {
    color: #1abb9c;
}

.dropdown-title a:hover {
    background: #ccd2dd;
}

.dropdown-menu li:hover .submenu > li {
    display: block;
    background: #ccd2dd;
    width: 180px;

}

.submenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 30px;
}

.submenu li {
    display: none;
}

/*Style for slider*/
.slider {
    width: 100%;
    height: 600px;
    background-image: url("images/Slider.png");
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.slider-wrapper {
    display: flex;
    height: 30%;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.slider h1 {
    z-index: 2;
    width: 986px;
    height: 39px;
    color: #f3f3f3;
    font-family: "Roboto Slab", sans-serif;;
    font-size: 40px;
    font-weight: 700;
    line-height: 35px;
}

.slider h2 {
    z-index: 2;
    width: 766px;
    height: 33px;
    color: #a8a8a8;
    font-family: "Roboto Slab", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 35px;
}

.portfolio {
    background-color: #3f8dbf;
    border-radius: 2px;
    width: 140px;
    height: 45px;
    text-align: center;
    z-index: 2;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 40px;
}

.slider a {
    text-decoration: none;
}

/*Style for main content*/

main {
    width: 100%;
    height: 40%;
    background-color: #e5e5e5;
}

/*Style for services section*/
.services {
    display: flex;
    width: 100%;
    justify-content: center;
}

.services-wrapper {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-top: 3%;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 22%;
}

.service h3 {
    font-family: Roboto, serif;
    color: #4e4e4e;
    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
    height: 50px;
}

.service p {
    display: block;
    font-family: Roboto, serif;
    color: #616161;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.line {
    background-color: rgba(0, 0, 0, 0.11);
    height: 2px;
    margin: 3% 11% 3% 11%;
}

/*Style for works section*/
.works {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.works-title {
    display: flex;
    width: 77%;
    height: 50px;
    font-family: RobotoCondensed, serif;
    color: #4e4e4e;
    font-size: 14px;
    font-weight: 700;
    line-height: 35px;

}

.works-wrapper {
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

/*Извиняюсь за padding, почему-то никак не получилось сделать нормально через flex. Буду благодарен наводке.*/
.works-container {
    display: flex;
    flex-direction: column;
    width: 381px;
    height: 418px;
}

.works-container h3 {
    height: 30px;
    font-family: RobotoSlab, serif;
    color: #4e4e4e;
    font-size: 18px;
    font-weight: 700;
    line-height: 65px;
}

.works-container .description {
    height: 60px;
    font-family: RobotoSlab, serif;
    color: #a8a8a8;
    font-size: 13px;
    font-weight: 400;
    line-height: 65px;
}

.works-container .text {
    font-family: Roboto, serif;
    color: #5c5c5c;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}

/*Style for slogan section*/
.slogan {
    background-color: #d9d9db;
    width: 100%;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.slogan-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slogan .quotes {
    font-family: ArialRoundedMTBold, serif;
    color: #cecece;
    font-size: 100px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 35px;
}

.slogan .text {
    width: 40%;
    font-family: RobotoSlab, serif;
    color: #a1a1a1;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;

}

/*Style for footer*/
footer {
    width: 100%;
    height: 459px;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #cacaca;
    background: url("images/footer_bg.jpg");
}

.footer-wrapper {
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding-top: 3%;
}

.footer-container {
    display: flex;
    flex-direction: column;
}

.container-1 {
    width: 18%;
}

.container-2 {
    width: 16%;

}

.container-3 {
    width: 16%;

}

.container-4 {
    width: 17%;
}

.footer-container h3 {
    height: 40px;
    font-family: RobotoCondensed, serif;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    padding-bottom: 1%;
}

.footer-container span {
    font-family: Roboto, serif;
    color: #cacaca;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.footer-contact {
    padding-left: 5%;
    padding-top: 10%;
}

.footer-contact li {
    padding-bottom: 2%;
    padding-left: 4%;

}

.footer-contact li:nth-child(1) {
    list-style-image: url("images/place.png");
}

.footer-contact li:nth-child(2) {
    list-style-image: url("images/phone.png");
}

.footer-contact li:nth-child(3) {
    list-style-image: url("images/mail.png");
}

.list-container {
    height: 170px;
    display: flex;
    font-family: Roboto, serif;
    color: #cacaca;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 24px;
}

.list-container ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-image: url("images/twitter.png");
}

.list-container li {
    padding-bottom: 10%;
}

.footer-text-date {
    font-family: RobotoSlab, serif;
    color: #cacaca;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    padding-bottom: 3%;
}

.footer-line {
    width: 80%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.11);
    margin: 3% 11% 3% 11%;
}

.copyright {
    display: flex;
    align-self: center;
    width: 80%;
}